<div class="buttons">
            <h2 class="button-text">Личный кабинет</h2>
            <a class="button-text" href="index.php?class=user&method=logout">Выход из личного кабинета</a>
        </div>

        <div class="modal-auth">
            <div class="modal-dialog modal-dialog-auth">

                <ul class="modal-body">
                    <li class="modal-title">Мои заказы</li>
                    <li class="modal-title">Написать отзыв</li>
                    <li class="modal-title">Мои данные</li>
                </ul>